build/
dist/
*.egg-info/
*.pyc
**/.ipynb_checkpoints/
**/*-checkpoint.ipynb
model/unet_keras/STARE_results/
model/unet_keras/US AI test results commented.pdf
model/unet_torch/weights/checkpoint.pth
model/unet_keras/h5_dataset/
model/mrsg_torch/results - 20221117 - from scratch/
model/multiple_keras/best_multiclass_model.h5
model/mrsg_torch/results/events/
